<%- include('./partials/header') %>
<%- include('./partials/nav') %>


<main>
  <form action="/api/coins">
    <button type='submit' class="button-outline">Ping me!</button>
  </form>
</main>

<%- include('./partials/footer') %>
