<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<main>
  <button class="button-outline">Outline</button>
  <button class="button">Default</button>
</main>

<%- include('./partials/footer') %>
