html {
  box-sizing: border-box
}

*, 
*::before, 
*::after { 
  box-sizing: inherit;
}

:root {
    font-size: 62.5%
}

body {
  background-color: #202020;
  font-family: 'Exo 2', sans-serif;
  color: whitesmoke;
  margin: 0;
}

nav {
  background-color: black;
  font-size: 1.6rem;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav div {
  display:flex;
  justify-content: center;
  align-items: center;
}

nav #title {
  margin: 1rem 0 0 3rem;
  width: 200px;
}

nav .siwg,
nav #logout-btn {
  margin-top: 1rem;
  margin-right: 3rem;
  color: black;
  padding: 0 2.2rem;
  display: flex;
}

nav #logout-btn span {
  font-size: 2rem;
}

nav .nav-link {
  margin: 0 1rem;
  color: whitesmoke;
}

nav .nav-link:hover {
  color: #39D87D;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
}

h1 {
  font-size: 3.6rem;
}

a {
  text-decoration: none;
  color: #39D87D;
}

div.search-container{
  width: 100%;
  display: flex;
  justify-content: start;
}

div.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img.self {
  z-index: 1;
  margin-top: 6.3rem;
}

#logo {
  position: absolute;
  z-index: -1;
}

div.search {
  width: 200px;
  margin-right: auto;
}

span.symbol-text {
  color: lightgrey;
  font-weight: 200;
}

td, th {
  border-bottom: 0.1rem solid darkslategray;
}

.search-form {
  margin-bottom: 0;
}

.search-form fieldset,
.search-form input {
  margin-bottom: 0;
}

.profile-img {
  border-radius: 50%;
}

.index-link {
  color:whitesmoke;
}

.index-link:hover{
  color: #39D87D;
}

.button {
  color: #202020;
  background-color: #39D87D;
  border-color: #39D87D;
}

.button-outline {
  border-color: #39D87D;
}

button.submit-btn {
  display: none;
}

.button.button-outline,
button.button-outline,
input[type="button"].button-outline,
input[type="reset"].button-outline,
input[type="submit"].button-outline {
  color: #39D87D;
}

.button, 
button, 
input[type='button'], 
input[type='reset'], 
input[type='submit'] {
  border: 0.1rem solid #39D87D;
  background-color: #39D87D;
}

input {
  color: whitesmoke;
}

input[type='color']:focus, 
input[type='date']:focus, 
input[type='datetime']:focus, 
input[type='datetime-local']:focus, 
input[type='email']:focus, 
input[type='month']:focus, 
input[type='number']:focus, 
input[type='password']:focus, 
input[type='search']:focus, 
input[type='tel']:focus, 
input[type='text']:focus, 
input[type='url']:focus, 
input[type='week']:focus, 
input:not([type]):focus, 
textarea:focus, 
select:focus {
  border-color: #39D87D;
}

.desktop-details {
  display: none;
}

.bearish {
  color: rgb(252, 80, 80)
}

.bullish {
  color: #39D87D;
}

@media only screen and (min-width: 1024px) { 
  .desktop-details {
    display: table-cell;
  }
}
