html {
  box-sizing: border-box
}

*, 
*::before, 
*::after { 
  box-sizing: inherit;
}

:root {
    font-size: 62.5%
}

body {
  background-color: #202020;
  font-family: 'Exo 2', sans-serif;
  color: whitesmoke;
  margin: 0;
}

nav {
  background-color: black;
  font-size: 1.6rem;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav #title {
  margin: .5rem 0 0 .5rem;
  width: 200px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3.6rem;
}
