header {
    display: flex;
    flex-direction: column;
  }
  
  header h1 {
    margin-bottom: 0;
  }
  
  main a {
    color: white;
  }
  
  a:hover {
    color: #39D87D;
  }

  td {
    border-bottom: none;
  }

.watchlist-table {
    display: flex;
    justify-content: center;
    align-items: center
  }
  
  .options {
      display: flex;
  }
  
  .button.button-clear, 
  button.button-clear, 
  input[type='button'].button-clear, 
  input[type='reset'].button-clear, 
  input[type='submit'].button-clear {
    color: #39D87D;
  }
  
  .button.button-clear:hover {
    color: #39D87D
  }

  div.watchlist {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

div.comment-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-radius: 10px;
    border: 1px solid darkslategray;
    padding: .5rem 2rem;
}

.comment-author {
  margin-top: 1rem;
  margin-bottom: .3rem;
}

div.coin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  span.symbol {
    text-transform: uppercase;
    font-size: 3.5rem;
  }

  #delete-coin {
   color: red;

  }
  
  #delete {
      color: red;
  }
  
  * > .fa-hover-show,
  *:hover > .fa-hover-hidden,
  *:focus > .fa-hover-hidden {
    display: none;
  }
  *:focus > .fa-hover-show,
  *:hover > .fa-hover-show {
    display: inline-block;
  }